@font-face {
    font-family: 'thewitcher';
    src: url('thewitcher.woff2') format('woff2'),
        url('thewitcher.woff') format('woff'),
        url('thewitcher.svg#thewitcher') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* ----------------------------------------------------- Header */

.header-title {
    color: #fafafa;
    text-align: center;
    font-family: 'thewitcher', sans-serif;
    font-size: 48px;
    text-decoration: underline;
}

nav {
    height: 30px;
}

.nav-cont {
    height: 30px;
}

.text-nav {
    margin-right: 30px;
}

.toggle-button {
    color:#2e2c2c;
}

.nav-button {
    padding: 0px 0px 0px 12px;
}

.bg-nav-toggle {
    width: 65px;
    background-color: #b31b10
}


/* ----------------------------------------------------- Colors */

.bg-main-ui {
    background-color: #2e2c2c;
}

.bg-sec-ui {
    background-color: #b31b10;
}

/* ----------------------------------------------------- Footer */

.footer-header {
    font-family: 'thewitcher', sans-serif;
    color: #fafafa;
    font-size: 12px;
    padding-top: 6px;
}

.footer-text {
    color: #fafafa;
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
    float: right;
    clear: both;
}

.footer-text-top {
    color: #fafafa;
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
    margin-bottom: 6px;
    clear: both;
    float: right;
}

.footer-link-text {
    color: #fafafa;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
}

.my-email {
    font-family: 'thewitcher', sans-serif;
    font-size: 18px;
}

/* ----------------------------------------------------- Home */

.home-header {
    text-align: center;
    font-family: 'thewitcher';
    color: #fafafa;
    margin-top: 35px;
    margin-bottom: 12px;
}

.home-text {
    text-align: center;
    font-family: 'Ubuntu';
    color:#fafafa;
    padding: 0px 20px 10px 20px;

}

.bottom {
    margin-bottom: 125px;
}

/* ----------------------------------------------------- Special Margins/Texts */

.no-padding {
    padding: 0;
}

.link-text {
    color: #fafafa;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    padding: 0;
}

.link-text:hover {
    color: #2e2c2c
}


.footer-link-text:hover {
    color: #2e2c2c;
}

/* ----------------------------------------------------- Media Query's */

@media (min-width: 576px) {
    .text {
        padding: 0px 60px 10px 60px;
    }
}

@media (min-width: 992px) {
    .text {
        padding: 0px 120px 10px 120px;
    }
}

